.parent-box{
	position:relative;	
	top:25%;
	left:10%;
	width:80%;
	background-color:#ddd;
	display:flex;
	}
	.box{
	top:10px;
	height:300px;
	background-color:orange;
	margin:20px;
	}
	.owl-carousel .owl-nav button.owl-prev 
	 {
		background: none;
		color: black;
		border: none;
		padding-bottom: 0px !important;
		font: inherit;
		font-size:18px;
		position:absolute;
		left:87%;
		top:0%;
		transform:translateY(-50%);
		width:40px;
		height:40px;
		border-radius:50%;
		background-color:#7e2500;	
		
		
		
	}
	.owl-carousel .owl-nav button.owl-next{
		
		
		
		background: none;
		color: black;
		border: none;
		padding-bottom: 0px !important;
		font: inherit;
		font-size:18px;
		position:absolute;
		right:0%;
		top:0%;
		transform:translateY(-50%);
		width:40px;
		height:40px;
		border-radius:50%;
		background-color:#7e2500;	
	}